#adminFeluletGomb {
    display: none;
}

#logo {
    height: 50px;
    width: auto;
}

.navbar-toggler:focus,
.navbar-toggler:focus-visible {
    outline: none;
    box-shadow: none;
}

.offcanvas .btn-close:focus,
.offcanvas .btn-close:focus-visible {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.35);
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.nav-link.active {
    font-weight: bold;
}

#penztarSzekcio {
    flex: auto;
}
