.card {
    border-radius: 12px;
    padding: 50px;
}

h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.miniSzoveg {
    font-size: 15px;
}

input {
    border-radius: 8px;
}

.text-muted {
    font-size: 12px;
}
