body {
    background-color: #f8f9fa;
}

.kontener {
    max-width: 900px;
    padding: 32px 16px;
    margin: auto;
}

.card {
    border: none;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 36px;
}

h1 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 4px;
}

.kisszoveg {
    text-align: center;
    color: #6c757d;
    font-size: 16px;
    margin-bottom: 24px;
}

h2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 12px;
}

p {
    font-size: 15px;
    color: #383737;
}
li {
    font-size: 15px;
    color: #383737;
}
a {
    color: #198754;
}

.muted {
    color: #6c757d;
    font-size: 12px;
}

.pontok {
    margin-bottom: 12px;
}

#logo {
    height: 70px;
    width: auto;
    border: 0px;
}

.nav-link.active {
    font-weight: bold;
}
