#adminFeluletGomb {
    display: none;
}

#logo {
    height: 50px;
    width: auto;
}

.nav-link.active {
    font-weight: bold;
}

.navbar-toggler:focus,
.navbar-toggler:focus-visible {
    outline: none;
    box-shadow: none;
}

.offcanvas .btn-close:focus,
.offcanvas .btn-close:focus-visible {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.35);
}

.kartyaLink {
    text-decoration: none;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    /* 0 - vízszintes eltolás, 4px - függőleges eltolás, 8px - elmosódás, rgba(0, 0, 0, 0.2) - 0,0,0 fekete szín - 0.2 20% átlátszósággal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
