body {
    background-color: #f8f9fa;
}

.kontener {
    max-width: 800px;
    padding: 32px 16px;
    margin: auto;
}

.card {
    border: none;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 36px;
    margin-bottom: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

h2 {
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

.form-label {
    font-weight: 500;
    color: #555;
}

#adminFeluletGomb {
    display: none;
}

#logo {
    height: 50px;
    width: auto;
}

.nav-link.active {
    font-weight: bold;
}
