#adminFeluletGomb {
    display: none;
}

#logo {
    height: 50px;
    width: auto;
}

.navbar-toggler:focus,
.navbar-toggler:focus-visible {
    outline: none;
    box-shadow: none;
}

.offcanvas .btn-close:focus,
.offcanvas .btn-close:focus-visible {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.35);
}

/* Sticky footer megoldás: oldal teljes magassága és flexbox layout */
html,
body {
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-link.active {
    font-weight: bold;
}

.kartyasResz {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 16px;
}

.muveletGombok {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

#felhasznaloID {
    width: 70px;
}

#felhasznaloNev {
    min-width: 180px;
}

#felhasznaloEmail {
    min-width: 220px;
}

#felhasznaloTelefonszam {
    min-width: 160px;
}

#felhasznaloAdmin {
    width: 90px;
}

#felhasznaloMuveletek {
    min-width: 320px;
}

#rendelesTabla td,
#rendelesTabla th {
    vertical-align: middle;
}

#etteremTabla td,
#etteremTabla th {
    vertical-align: middle;
}

#etteremTabla textarea {
    min-width: 220px;
    resize: vertical;
}

#termekTabla td,
#termekTabla th {
    vertical-align: middle;
}

#termekTabla textarea {
    min-width: 220px;
    resize: vertical;
}

#felhasznalokSzekcio,
#rendelesekSzekcio,
#kategoriakSzekcio,
#ettermekSzekcio,
#termekekSzekcio {
    scroll-margin-top: 90px; /* Ha ez 0 lenne vagy ki lenne véve, és rányomnánk mondjuk a termékekre, a képernyő tetején lenne pixel pontosan a termékek szekció címe, amihez a gomb görget. Így most 90px marad a cím felett. amikor odagörget. Így szebb lesz. A "Felhasználók" és "Rendelések" gombok nem is működnének enélkül jól, mert fent vannak a képernyő tetején, és a sticky navbar nagyrészt eltakarná őket. */
}
